# exclude python virtual environment setup and instance files
.env
__pycache__/
venv/
node_modules/
backend/instance/
backend/sqlite_main.db
backend/all_recipes.json
frontend-legacy/
public/
/sqlite_main.db
