.navbar {
    display: flex;
    align-items: center;
    color: #333;
    padding: 1em 0;
    margin: 0 auto;
}

.navbar .links {
    margin-left: auto;
}

.navbar h1 {
    color: red;
}

.navbar a {
    text-decoration: none;
    padding: 0.3em;
    color: #333;
}

.navbar a:hover {
    color: red;
}